{
  "presets": ["react", "es2015", "es2016"],
  "passPerPreset": true,
  "plugins": [
    "tcomb",
    "syntax-async-functions",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "syntax-trailing-function-commas",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
    }],
  ]
}
