{
  "presets": ["latest"],
  "passPerPreset": true,
  "plugins": [
    "syntax-flow",
    "tcomb",
    "transform-flow-strip-types",
    "syntax-jsx",
    "transform-react-jsx",
    "transform-react-display-name",
    "syntax-async-functions",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "syntax-trailing-function-commas",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
    }],
  ]
}
