{
  "presets": ["es2016", "react"],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-es2015-parameters",
    "transform-es2015-destructuring",
    "transform-es2015-spread",
    "syntax-async-functions",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "syntax-trailing-function-commas",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
    }],
  ]
}
