{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__DEV__" : false,
    "__PROD__" : false,
    "__DEBUG__" : false,
    "__HMR__" : false,
    "__API_PATH__" : false,
    "__CLIENT__" : false,
    "__SERVER__" : false,
    "__REDUX_LOGGER__" : false,
    "__PROJECT_PATH__" : false,
  },
  "rules": {
    "no-script-url" : 0,
    "no-alert": 0,
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
  },
  "plugins": [
    "react", "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/ignore": ["node_modules", "\\.css$"],
    "import/resolve": {
      "moduleDirectory": ["node_modules"]
    }
  }
}
